---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import ImageBanner from "../components/ImageBanner.astro";

import Ruth from "../images/ruth.webp";
import Docu from "../images/docu.jpeg";
import Fabriek from "../images/fabriek.png";
import Kom from "../images/kom.webp";
import Podwalk from "../images/podwalk.png";

import { Image, imageConfig } from "astro:assets";
import Card from "../components/Card.astro";
---

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  ScrollTrigger.create({
    start: 0,
    end: 200,
    scrub: true,
    onUpdate: (self) => {
      const trigger = document.getElementById("video")!;
      console.log(self.progress);
      trigger.style.filter = `blur(${self.progress * 10 + 10}px)`;
    },
  });
</script>

<Layout title="Iepen Ierdewurk">
  <!-- <div class="w-full h-[60vw] max-h-[calc(100vh-100px)] flex justify-center">
    <div class="absolute inset-0 top-[50vw]"></div>
    
  </div> -->
  <div class="hidden">o</div>

  <!-- <Image src={Ruth} alt="" id="kom" /> -->

  <video
    autoplay
    muted
    id="video"
    src="/docu.mp4"
    class="fixed inset-0 h-full w-full object-cover opacity-50 scale-105 mix-blend-hard-light"
  ></video>

  <div class="relative gap-4 p-4 grid grid-cols-1 md:grid-cols-3">
    <Card
      class="relative w-full flex justify-center p-8 py-20 md:col-span-3 h-[50vw] min-h-[40vh] max-h-[70vh]"
    >
      <Logo />
    </Card>
    <ImageBanner src={Ruth}>
      <h1 class="relative text-white font-bold">Pop-up exposities</h1>
      <p>Gezonken schat</p>
    </ImageBanner>
    <ImageBanner src={Docu}>
      <h1 class="relative text-white font-bold">Documentaire</h1>
      <p>De Iepen Ierdewurk</p>
    </ImageBanner>
    <ImageBanner src={Fabriek}>
      <h1 class="relative text-white font-bold">
        Coming soon: Frysk brûsend theater
      </h1>
      <p>De Iepen Ierdewurk</p>
    </ImageBanner>

    <Card
      class="flex flex-col sm:flex-row items-center justify-center gap-4 md:col-span-3 bg-black/70 text-white p-4 backdrop-blur"
    >
      <Image src={Podwalk} alt="" class="max-w-96 flex-shrink-1" />
      <div class="flex-shrink max-w-lg text-center sm:text-left">
        <div class="font-lovelo text-6xl">
          <h2>GPS-wande&shy;ling</h2>
          <h1 class="font-bold">Podwalk</h1>
        </div>
        <p>
          Benieuwd naar de rijke handelsgeschiedenis van Makkum in de periode
          voor 1800? Stap in het verhaal van Makkum en doe de podwalk!
        </p>
      </div>
    </Card>

    <Card class="sm:col-span-3">
      <div
        class="relative flex flex-col p-8 gap-8 text-center font-lovelo font-light text-8xl text-white"
      >
        <h2>
          4 augustus t/m september <br />
          woensdag t/m zaterdag <br />
          11:00 tot 17:00 <br />
          Turfmarkt 65, Makkum
        </h2>
      </div>
    </Card>
  </div>
</Layout>
<!-- <div class="relative h-screen w-full bg-lightblue"></div> -->
